.profile-settings-block .image-logo
{
  width:unset !important;
}

.profile-setting-form .form-group .selector-head
{
   position: relative;
}
.profile-setting-form  .form-group .arrow {
    position: absolute;
    color: #888;
    right: 20px;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    font-size: 12px;
}
.profile-setting-form  .form-group select {
    height: 50px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 6px;
    color: #081828;
    background: #fff;
    padding: 0px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}
.dashboard-block .form-check {
    display: block;
    margin-bottom: 20px;
}
.reply {
    padding: 8px 15px;
    border: 1px solid #eee;
    color: #888;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}
 .form-group.upload-image input {
    padding: 10px;
    font-size: 14px;
    color: #888;
}
 .form-group input {
     height: 50px;
     width: 100%;
     border: 1px solid #eee;
     border-radius: 6px;
     color: #081828;
     background: #fff;
     padding: 0px 20px;
 }
.carousel-control-next-icon, .carousel-control-prev-icon
{
    background-color: #00000036;
}
.items-grid .single-grid .content .top-content .info-list li {
    width: 100%;
}
.single-widget.banner a img {
    width: 100%;
}
.mark-N {
    background-color: #f4433647;
}
.chats .hide
{
    display: none;
}
.chats .show
{
    display: block;
}
.messages-body .chat-list .single-chat-head {
    height: 309px;
    overflow-y: scroll;
}
.messages-body .chat-list .single-chat-head li.left .unread {
    background: #ffd486;

}
.reading_msg{
    background: #f9f9f9!important;

    transition:  background 1s linear;
}
.toast-container {

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 30px;
    right: 80px;
    z-index: 9;
    cursor: pointer;
    flex-direction: column-reverse;
}
.toast-header img {
    height: 25px;
    width: 25px;
    border-radius: 3px;

    left: 8px;
    top: 8px;
    margin-right: 16px;
}
.modal-dialog{
    background-color: rgb(255, 255, 255);

    border-radius: 20px;
    box-sizing: border-box;
    display: block;
    pointer-events: unset;



padding-bottom: 60px;
padding-left :70px;
padding-right: 70px;
padding-top :60px;
;


}
.dashboard .main-content .activity-log ul li .remove a {
position: absolute;
right: 30px;
top: 50%;
transform: translateY(-50%);
height: 15px;
width: 15px;
line-height: 15px;
background: blue;
color: #fff;
font-size: 10px;
text-align: center;
opacity: 0;
visibility: hidden;
border-radius: 3px;
}
.dashboard .main-content .activity-log ul li .title{
    font-weight: normal ;
}
.item-details-sidebar .single-block.author img {
    height: auto;
    width: 50px;
   border-radius: unset;
}
.items-grid .single-grid .image .author .author-image img {
    height: auto;
    width: 40px;
    border-radius: unset;
    display: inline-block;
}
.title-organization{
    border-top: unset !important;
}
.location-organization{
    margin-bottom: 10px !important;
}
.organization-info ul li{
    display: block;
    margin-bottom: 6px;
}
.organization-info ul li span{
    display: inline-block;
    font-weight: 500;
    min-width: 100px;
}
.single-item-grid .content .info .like_u {
    float: right;
}
.single-item-grid .content .info .like_u a {
    color: #888;
    font-size: 14px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    border: 1px solid #eee;
    border-radius: 50%;
}
.browse-cities {
    padding-top: 0px;
}
.section-title h2 {
 text-transform: none;
}
